@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin columCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin tarjetasHorizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}