$colores: (
    fondo: #ffffff2f,
    letras: #ffffff
);

$tipografias: (
    tipografia1: ('Tahoma'),
    tipografia2: ('Kaushan Scrip', cursive),
    tipografia3: ('Alfa Slab One', cursive),
    tipografia4: ('Bebas Neue', cursive),
    tipografia5: ('Tiro Gurmukhi', serif),
    tipografia6: ('Lobster', cursive)
);