$colores: (
    fondo: #ffffff2f,
    letras: #ffffff
);

$tipografias: (
    tipografia1: ('Tahoma'),
    tipografia2: ('Kaushan Scrip'),
    tipografia3: ('Alfa Slab One'),
    tipografia4: ('Bebas Neue'),
    tipografia5: ('Tiro Gurmukhi'),
    tipografia6: ('Lobster')
);