*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    background-repeat: no-repeat;
    position: sticky;
    top: 0px;
    z-index: 100;
    nav{
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
        text-align: center;
        width: 100%;
        margin:auto;
        padding-top: 15px;
    }
    a{
        text-decoration: none;
        color: white;
        @include tablet{
            color: rgb(111, 43, 43);
            &:hover{
                animation: animacionDelNav 1s;
            }
            @keyframes animacionDelNav {

                0% {
                    color: rgb(103, 38, 38);
                    
                }

                100%{
                    color:white;
                    text-shadow: 2px 2px black;
                }
            }
        }
    }
}

.navbar{
    background-image: url(../img/banner.jpg);
    background-size: cover;
}

.container-fluid{
    background-color: rgba(255, 255, 255, 0.481);
}

body{
    background-color: rgb(111, 43, 43);
    color: map-get($colores, "letras");
    font-size: 20px;
    p{
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 15px;
        }
    @include monitor{
        font-size: 16px;
    }
    @include tablet{
        font-size: 18px;
    }
}

#logo-whatsapp{
    max-width: 70px;
    position: fixed;
    bottom: 30px;
    right: 15px;
    animation-name: logoDeWhatsapp;
    animation-duration: 5s;

    
    }

    @keyframes logoDeWhatsapp {

        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(360deg);
        }

        100% {
            transform: rotate(0deg);
        }
        
    }


.footer{
    background-image: url(../img/bannerrrrrrrrrrrfoter.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 16px;
    p{
        margin: 3px;
        text-align: center;
        padding: 5px;
        }
    a{
        text-decoration: none;
        color: map-get($colores, "letras" );
        margin-left: 75px;
        }
    &__logos{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    &__img{
        max-width: 20px;
        box-shadow: 5px 5px 5px black;
    }
    iframe{
        width: 100%;
        padding: 15px;
    }
    @include monitor{
        background-image: linear-gradient(rgb(111, 43, 43), black)
    }
}