
.inicio{
    background-color: map-get($colores, "fondo" );
    margin: 15px;
    &__contenedor{
        margin: 15px;
        text-align: center;
        
        & iframe {
            @include flexCenter;
            margin-left: 15px;
        }
    }
    
    &__carrusel{
        width: 100%;
        margin-right: 15px;
    }

    &__union{
        @include tablet{
            display: flex;
            flex-flow: row nowrap;
        }
    }
    &__iframe{
        @include flexCenter;
        iframe{
            width: 100%;
        }
    }
}


