.informacion{
    &__contenedor{
        @extend .inicio;
        padding: 15px;
    } 
    span{
        font-family: map-get($tipografias, "tipografia2");
        animation-name: nuestrosOrigenes;
        animation-duration: 1s;
    }

    @keyframes nuestrosOrigenes{

        0% {
            transform: rotate(10deg);
        }

        50% {
            transform: rotate(50deg);
        }

        100% {
            transform: rotate(75deg);
        }
    }
    &__imagen{
        img{
            width: 92%;
            margin: 15px;
        }
    }

    &__union{
        @include tablet{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            img {
                width: 400px;
            }
        }
    }
}