.informacion{
    &__contenedor{
        background-color: rgba(255, 255, 255, 0.186);
        padding: 15px;
        margin: 15px;
    } 
    &__imagen{
        img{
            width: 92%;
            margin: 15px;
        }
    }

    &__union{
        @include tablet{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            img {
                width: 400px;
            }
        }
    }
}